body{width: 680px;margin:0 auto; padding: 0;background-color: #fff; font-family: Roboto;}
header{background: orange;padding: 20px 30px;}
h1{color: #fff;text-transform: uppercase;}
h2{color: #fff;text-transform: uppercase;}
.content{padding: 30px 20px;}
.content img{float: left;margin: 0 15px 10px 0;}
.text{text-align: justify;}
.content .text h3{margin-top: 0;}
footer p{font-size: 8px;color: gray;text-align: justify;padding: 0 30px;}